:root {
    --primary-color: #6e8894; /* slate gray */
    --secondary-color: #2a2f4f; /* space cadet */
    --accent-color-1: #8f755b; /* raw umber */
    --accent-color-2: #ced4d3; /* floral white */
}

/* body {
        font-family: kanit, static;
}

h1 h2 {
        font-family: Sigmar one; 
} */

.bold-underline {
        text-decoration: underline;
}

  
/* header */
header {
        background-color:var(--accent-color-1);
        max-width: 100%;
}

.grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 6fr 1fr;
        grid-template-rows: 120px;   
}

.grid-container img {
        display: grid;
        grid-column: 2 / 3;
        margin: 20px 0 20px 0;
        border: 1px solid black;
        width: 100px;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 0 30px rgb(231, 223, 210);
}

.grid-container ul {
        display: flex;
        grid-column: 4 / 5;
        align-items: center;
        margin: 40px 40px;
        float: right;
        list-style: none;
        justify-content: center;
}

.grid-container li {
        padding: 2px 8px;
        border: 1px solid black;
        border-radius: 3px;
        width: 80px;
        background-color: white;
        color: var(--secondary-color);
        text-align: center;
        flex: 1 1 100%;
        font-family: kanit, static;
        font-weight: bold;
}

.grid-container a {
        text-decoration: none;
        font-family: kanit, static;
        color: var(--secondary-color);
        align-content: center;
        font-size: 1rem;
}

/* main */
/* hero about page*/
.hero, .hero-home {
        position: relative;
        width: 100%;
        height: auto;
        overflow: hidden;
        align-content: center;
}

.hero img, .hero-home img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 3px;
}

.hero h1, .ready h1, .hero-home h1 {
        color: #fff;
        font-family: sigmar one, static;
        font-size: 4vw;
        padding: 10px 40px;
        position: absolute;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 6px;
}

.hero h1 {
        top: 2%;
        left: 18%;
}

/* home page */
.hero-home h1 {
        padding: 5px 10px;
        top: 2%;
        left: 2%;
}

.hero-home h2 {
        color: #fff;
        font-family: sigmar one, static;
        font-size: 4vw;
        padding: 5px 10px;
        position: absolute;
        align-content: center;
        bottom: 2%;
        left: 50%;
        background-color: rgba(0, 0, 0, .5);
        border-radius: 6px;
}
 /* home page hero end */

.hero article {
        position: absolute;
        top: 25%;
        left: 8%;
        max-width: 80%;
        margin: 0 auto;
        padding: 0 20px;
        font-family: kanit, static;
        font-size: 25px;
        color: var(--secondary-color);
        background-color:rgba(247, 244, 244, 0.8)
}

.hero article img {
        position: relative;
        float: right;
        width: 200px;
        height: auto;
        align-content: center;
        justify-content: center;
        padding-bottom: 1.5rem;
}

.hero h2 {
        text-align: center;
        font-family: sigmar one, static;
}

/* history about page */
.container {
        display: flex;
        width: 100%;
        background-color: var(--secondary-color);
        box-sizing: border-box;
        padding: 40px 20px;
        border-top: 4px solid var(--accent-color-1);
        margin-top: 0;
}

.container p {
        margin: 0 auto;
        font-family: kanit, static;
        font-size: 20px;
        line-height: 1.6;
        color: var(--accent-color-2);
        padding: 10px;   
        align-content: center;  
}        

.image-container {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 30px;
        max-width: fit-content;   
}

.image-container h2 {
        position: absolute;
        top: -1%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--accent-color-2);
        font-family: sigmar one, static;
        font-size: 2rem;
        margin: 0;
        text-align: center;
}

.image-container img {
        transform: scale(0.75);
        transform-origin: center;
        object-fit: cover;
        height: auto;
        width: auto;
        border-radius: 5px;
}

figure {
        margin: 0;
        padding: .3rem;
        box-sizing: border-box;
        font-family: kanit, static;
        color: var(--accent-color-2);
} 

/* adventure about page */
.adventure-section {
        display: grid;
        max-width: 100%;
        padding: 30px;
        background-color: var(--accent-color-2);
        border-top: 5px solid var(--accent-color-1);
        margin-bottom: 0;
}

.adventure-section h2 {
        margin: 0 auto;
        text-align: center;
        font-size: 2.5rem;
        font-family: sigmar one, static;
        color: var(--secondary-color);
}

.image-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: space-evenly;
        gap: 20px;
        width: 100%;
        max-width: 100%;     
}

.image-grid figure img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 3px;
        flex: 1 1 100%;
}

.image-grid figure {
        text-align: center;
        font-size: 1rem;
        background-color: var(--secondary-color);
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-grid figure:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.image-grid a {
        text-decoration: none;
}

.image-grid a:visited figcaption {
        color: var(--accent-color-2);
}

/* footer */
.footer-container {
        display: flex;
        justify-content: space-between;
        border-top: 3px solid var(--accent-color-1);
        margin: 0;
        color: var(--accent-color-2);
        background-color: var(--secondary-color);
        font-family: kanit, static, bold;
        font-size: 2vw;
        padding: 20px;
}

.footer-container p {
        margin-left: 60px;
}

.footer-container a {
        color: #fff;
        text-decoration: none;
        display: inline-block;
        padding-top: 50px;
}

.social-links a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        float: right;
        padding: 20px 
}

.social-links a img {
        /* width: clamp(10px, 4vw, 40px); */
        height: auto;
}

/* .social-links a img:hoover {
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
} */
 
/* main contact us */
.contact {
        border: 2px solid #000;
        padding: 20px;
        background-color: var(--accent-color-2);
        color: var(--secondary-color); 
        text-align: center;          
}

.contact h1 {
        text-align: center;
        font-size: 2em;
        text-decoration: underline;
}

.contact-us {
        background-color: #fff;        
        border: 2px solid #000;
        border-radius: 6px;
        width: 400px;
        text-align: center;
        margin: 0 auto;  
}

.contact-us h2 {
        text-decoration: underline;
        padding-bottom: 0;
        line-height: .5;
        padding-top: 6px;
}

.contact-us p {
        font-size: 1.5rem;
        line-height: 0;
}

.map {
        padding: 20px;
}

/* meet our team */
.team-container {
        display: grid;
        max-width: 100%;
        padding: 10px;
        border-right: 2px solid#000;
        border-left: 2px solid#000;
        background-color:#fff;
        border-top: 5px solid var(--accent-color-1);
        border-bottom: 5px solid var(--accent-color-1);
}

.team-container h2 {
        margin: 6px;
        text-align: center;
        font-size: 2rem;
        font-family: sigmar one, static;
        color: var(--secondary-color);
}

.image-grid-team {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 230px;
        justify-content: space-evenly;
        gap: 20px;
        width: 100%;
        max-width: 100%;     
 }

.image-grid-team figure {
        box-sizing: border-box;
        text-align: center;
        background-color: var(--accent-color-2);
        margin: 0 0 30px;
        padding: .5rem;
        border-radius: 5px;
        overflow: hidden;
 }

.image-grid-team figure img {
        width: 90%;
        height: 75%;
        padding: 5px;
        object-fit: cover;
        border-radius: 3px;
        flex: 1 1 100%;
 }

.image-grid-team figcaption {
        font-family: kanit, static;
        font-weight: bold;
        font-size: 1.1rem;
        color: var(--secondary-color);
 }

 /* send us a message */

form {
        max-width: 100%;
        margin: 0 auto;
        padding: 20px;
        border: 3px solid #000000;
        border-radius: 3px;
        background-color: var(--primary-color);
        /* padding: 10px; */
}

form h2 {
        font-size: 2rem;
        text-align: center;
        text-decoration: underline;
}

fieldset h2 {
        text-align: center;
        font-size: 1.5rem;
        text-decoration: underline;
}
    
fieldset {
        border: 2px solid #000000;
        padding: 1rem;
        border-radius: 6px;
        font-size: 2rem;
        background-color: var(--accent-color-2);
        text-align: center;
        margin-top: 40px;
}
    
legend {
        font-size: 1.5rem;
        padding: 1rem;
        color: #455667;
        font-family: sigmar one;
        background-color: var(--accent-color-2);
        border: 2px solid #000000;
        border-radius: 10px;
        text-align: center;
        margin-top: 40px;
}

input, button, select, textarea {
        font-family: kanit static; 
        /* padding inside elements */
        padding: .75rem; 
        font-size: 1.5rem;
        cursor: pointer;
}

label {
        font-family: kanit static; 
        font-size: 1.5rem;    
}

.email-contact {
        display: inline-block;
        width: 600px;
        margin-left: 100px;   
}

.email-contact input {
        width: 400px;
        text-align: left;
        margin: 10px;      
} 

.email-contact input[type="email"] {
        width: 440px;
        /* makes email line as long as name */
}

.signup input[type="radio"] {
        height: 25px;
        width: 25px;
        vertical-align: middle;
        gap: 40px;
        margin-left: 20px;
        background-color: #fff;
        cursor: pointer;
}

.contact-group {
        width: 500px;
        margin: 0 auto;
        font-family: kanit static;
}

.checks {
        width: 550px;
        height: 250px;
        margin-left: 80px;
        margin-top: 40px;
}  

.checks input[type="radio"] {
        height: 20px;
        width: 20px;
        cursor: pointer;
}

.checks input[type="radio"] + label {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start; 
        vertical-align: middle;
}

input[type="checkbox"] {
        height: 25px;
        width: 25px;
        justify-content: center;
        vertical-align: middle;
        margin: 0 0 0 20px;     
}

textarea {
        width: 600px;
        height: 100px;
        border-radius: 5px;
        margin-top: 10px;
}
   
.button {
        margin-top: 20px;
        margin-left: 40px;
        background-color: #393959;
        color: #ffffff;
        border: 2px solid #c0c0c0;
        padding: .5rem;
        font-size: 1.2rem;
        width: 200px; 
        border-radius: 4px;
}
    
button:hover {
        color: #393959;
        background-color: #fff;
        border: 1.5px solid #000; 
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
         
/* Home page css */
.ready {
        position: relative;
        width: 100%;
        height: auto;
        overflow: hidden;
        align-content: center;
}

.ready img {
        width: 100%;
        height: auto;
        border-radius: 3px;
}

.ready a {
        position: absolute;
        text-align: center;
        bottom: 10%;
        left: 60%;
        text-decoration: none;
}

/* index/home page what we offer */
.offer-index-page {
        display: grid;
        max-width: 100%;
        padding: 30px;
        background-color: var(--accent-color-2);
        border-top: 5px solid var(--accent-color-1);
}

.offer-index-page h2 {
        margin: 3px;
        text-align: center;
        font-size: 2.5rem;
        font-family: sigmar one, static;
        color: var(--secondary-color);
}

.image-grid-index {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-evenly;
        gap: 20px;
        width: 100%;
        max-width: 100%;     
}

.image-grid-index figure img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 3px;
        flex: 1 1 100%;
}

.image-grid-index figure {
        text-align: center;
        font-size: 1.3rem;
        color: #fff;
        padding: .5rem;
        background-color: var(--secondary-color);
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/* home page newsletter sign-up */

/* form, fieldset, legend, radio under send message section */
 
.email-group {
        margin: 20px; 
        display: inline-block;      
} 

.email-group label {
        display: inline-block;
        text-align: right;
        width: 650px;
        padding: 10px;      
} 

.email-group input {
        width: 450px;
        height: 30px;
}

/* trips page ready h1 */
.ready h1 {
        top: 10%;
}

.ready h2 {
        color: #fff;
        font-family: kanit static;
        font-size: 3vw;
        font-weight: bold;
        padding: 10px 40px;
        position: absolute;
        text-align: center;
        background-color: rgba(36, 36, 36, 0.3);
        border-radius: 6px;
        top: 35%;
        left: 25%;
}

/* table data */
.table {
        background-color: var(--primary-color);
        padding: 10px;
}

.table h2 {
        margin: 0 auto;
        text-align: center;
        font-size: 2.5rem;
        font-family: sigmar one, static;
        color: var(--secondary-color);
}

.table caption {
        font-family: kanit static;
        font-size: 1.5rem;
}

.table table {
        width: 400px;
        text-align: center;
        border: 2px solid#000;
        background-color: var(--accent-color-2);
        align-items: center;
        margin: 0 auto;
}

th, td {
        border: 1px solid#000;
        padding: 5px 10px;
}

.table table, th, td {
        border-collapse: collapse;
}
