body {
    --primary-color: 6e8894;
    --secondary-color: 8b5d33;
    --accent1-color: 141b41;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background: rgb(178, 176, 176);
    --nav-font: 'Verdana', sans-serif;
    --footer-font: 'Verdana', sans-serif; 
    --title-font: 'Georgia', serif;
    --paragraph-font: 'Tahoma', sans-serif;
}
nav {
    background-color: rgb(102, 190, 203);
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
    font-family: var(--nav-font);
}
h1 {
    color: rgb(32, 30, 109);
    padding: 20px 20px;
    font-family: var(--title-font);
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}
p {
    padding: 5px 0 20px 20px;
    font-family: var(--paragraph-font);
    margin: 1rem;
}
main {
    max-width: 840px;
}
aside {
    width: 20rem;
    text-align: center;
    font-family: var(--paragraph-font);
    position: relative;
}
aside h2 {
    font-family: var(--title-font);
    color: rgb(245, 245, 248);
    padding: 0 20px;
    position: absolute;
    top: 15px;
    left: 50px;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    font-family: var(--footer-font);
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(178, 176, 176);
    padding: 1rem;
    background-color:rgb(210, 243, 246);
    color: rgb(0, 0, 0);
}
.indent {
    padding-left: 2rem;
}